* {
  font-family: "din";
  font-weight: bold;
  color: white;
  font-size: 10px;
}

u {
  font-weight: bolder;
  margin: 0px;
  color: #ff862c;
  font-size: 22px;
  width: 240px;
}

#st {
  font-weight: bold;
  color: white;
  font-size: 14px;
  width: 67px;
}

span {
  font-size: smaller;
  color: #ff862c;
}

h4 {
  margin: 9px;
  border-bottom: 2px solid white;
  color: #ff862c;
  width: 280px;
}

img {
  vertical-align: top;
  width: 280px;
  position: absolute;
  margin-left: 500px;
}

div {
  width: 200px;
}

#extraIP,
#extraEH,
#extraEL {
  margin-top: 15px;
  width: 300px;
  display: none;
}

.sobrelink {
  color: #ff862c;
  display: list-item;
}

#clickable {
  margin-top: 25px;
  width: 250px;
}

.extraInfo {
  display: none;
}

.informacion {
  margin-top: 30px;
  width: 310px;
  border: 2px solid #ff862c;
  display: none;
}

body {
  background-image: url('../Imagenes/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}